# Snippet setting git branch and git dirty helper
# Commit at the end kept from original snippet, I added the rev-parse stuff and the proper redirection.

function add_to_path
  fish_add_path $argv[1]
end

fish_add_path /usr/bin
fish_add_path /usr/sbin
fish_add_path /usr/local/bin
fish_add_path /usr/local/sbin
fish_add_path ~/bin
fish_add_path ~/etc
fish_add_path $HOME/.rvm/bin        # Add RVM to PATH for scripting
fish_add_path $HOME/.local/bin      # pip install --user puts things here
fish_add_path $HOME/.tfenv/bin
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin

function lsl
  ls -lFh $argv
end

function lsa
  ls -laFh $argv
end

if test -e "/usr/bin/xcrun"
  function getinfo
    xcrun GetFileInfo $argv
  end
end

function http
  curl http://httpcode.info/$argv[1]
end

set -x HOMEBREW_NO_ANALYTICS 1

function user_message
  if status --is-interactive
function ibrew
  arch -x86_64 /usr/local/bin/brew $argv
end
    echo $argv[1]
  end
end

if test -e ~/.sdkman/bin/sdkman-init.sh
  function sdk
    bass source ~/.sdkman/bin/sdkman-init.sh --no-use ';' sdk $argv
  end
end

if test (which thefuck)
  if test -e (which thefuck)
    eval (thefuck --alias crap | tr '\n' ';')
  end
end

# in .config.fish
function fish_prompt
  env FISH_VERSION=$FISH_VERSION PROMPTLINE_LAST_EXIT_CODE=$status bash $HOME/.config/fish/shell_prompt.sh left
end

function fish_right_prompt
  env FISH_VERSION=$FISH_VERSION PROMPTLINE_LAST_EXIT_CODE=$status bash $HOME/.config/fish/shell_prompt.sh right
end

if test -e ~/.config/fish/config_local.fish
  source ~/.config/fish/config_local.fish
end

function weather
  curl 'wttr.in?m'
end

set -x CLICOLOR 1
set -x LSCOLORS GxFxCxDxBxegedabagaced

set -x GPG_TTY (tty)
set -x EDITOR vim
