[user]
    name = Sophie Quinn-Graham
    email = 7331+thissophie@users.noreply.github.com

[core]
    pager = diff-so-fancy | less --tabs=2 -RFX
    excludesfile = ~/.gitignore_global

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[diff-so-fancy]
    markEmptyLines = false
    changeHunkIndicators = false

[init]
	defaultBranch = main
