ControlMaster auto
ControlPath   ~/.ssh/tmp/%h_%p_%r

{#
Host 10.192.11.*
  ProxyCommand ssh gateway-host nc -w 120 %h %p
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
#}

Host *
  ServerAliveCountMax 3
  ServerAliveInterval 60
  KeepAlive yes
  {% if use_secretive %}
	IdentityAgent /Users/patrick/Library/Containers/com.maxgoedjen.Secretive.SecretAgent/Data/socket.ssh
  {% endif %}
  {% if patrick_interactive_ssh_identity_agent is defined %}
  IdentityAgent "{{ patrick_interactive_ssh_identity_agent }}"
  {% endif %}